.logo-header {
    height: 80px;
    width: 200px;
    object-fit: contain;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main {
    margin-top: 100px;
}


.menu-list {
        display: none;
}

a {
    text-decoration: none;
    color: white;
}

.video-main {
    height: auto; 
    width: 100%;
}