.header-container {
    background: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    position: absolute;
    top: 0;
    width: 100vw;
}
.logo-header {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

body {
    margin: 0;
    background-color: #141414;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: white;
    font-size: 24px;
}

button {
    border: 1px solid grey;
    width: 200px;
    height: 21px;
    background-color: transparent;
    color: grey;
}

button:hover {
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}

.card-image {
    height: 84px;
    width: 84px;
    object-fit: contain;
    border-radius: 8px;
}

a {
    text-decoration: none;
}


.user-name {
    color: gray;
}
